<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
  <head>
    <title>THE LAYOUT</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width", initial-scale=1 /> <!-- IMPORTANT FOR MEDIA QUERIES TO WORK..... -->
    <script src="/<%= settings.dm_js_location %>/ag-grid-enterprise.js" type="text/javascript"></script>
    <script src="/<%= settings.dm_js_location %>/ag-enterprise-activation.js" type="text/javascript"></script>
    <script src="/<%= settings.dm_js_location %>/jackbox.min.js" type="text/javascript"></script>
    <script src="/<%= settings.dm_js_location %>/crossbeams_utils.js" type="text/javascript"></script>
    <script src="/<%= settings.dm_js_location %>/crossbeams-grid-loader.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/stylesheets/jackbox.css">
    <link rel="stylesheet" href="/stylesheets/crossbeams-layout.css">
    <!--link rel="stylesheet" href="/stylesheets/flexbox_form.css"-->
</head>
<body>

  <%= yield %>

<script>
  Jackbox.init();
  <% if flash[:notice] %>
    Jackbox.success('<%= flash[:notice].gsub("'", "`") %>');
  <% end %>
</script>

</body>
</html>
