    <h1>Fill in parameters</h1>
    <p>(If report has no params, only the LIMIT gets filled in)</p>
    <%= @menu %>
    <h2><%= @rpt.caption %></h2>

    <form action='<%= @report_action %>' method=post class="pure-form pure-form-aligned">
      <div class="pure-g">
      <div class="pure-u-1">
        <div class="field pure-control-group">
          <label for="limit">Limit</label>
          <input id="limit" type="number" name='limit' min="1" />
        </div>
      <% @qps.each do |qp| %>
        <div class="field pure-control-group">
          <label class="label"><%=qp.caption %></label>
            <select name="queryparam[<%=qp.column %>][operator]">
              <% if qp.control_type == :list %>
                <%= make_options(@ops_sel_ar)%>
              <% elsif qp.control_type == :date %>
                <%= make_options(@ops_date_ar)%>
              <% else %>
                <%= make_options(@ops_ar)%>
              <% end %>
            </select>
            <% if qp.control_type == :list %>
              <select name="queryparam[<%=qp.column %>][value]">
                <option value=""></option>
                <%= make_options(qp.build_list {|sql| DB[sql].all.map {|r| r.values } }.list_values) %>
              </select>
            <% elsif qp.control_type == :date %>
              <input type="date" name="queryparam[<%=qp.column %>][from_value]" value="<%=qp.default_value %>" />
              and
              <input type="date" name="queryparam[<%=qp.column %>][to_value]" value="<%=qp.default_value %>" />
            <% else %>
              <input type="text" name="queryparam[<%=qp.column %>][value]" value="<%=qp.default_value %>" />
            <% end %>
        </div>

      <% end %>
      <div class="actions pure-controls">
        <input type="submit" name="commit" value="Run report" data-disable-with="Run report" class="pure-button pure-button-primary">
      </div>
    </div>
    </div>
    </form>
